<html>
    <head>
        <title> Register </title>
        <link rel = "stylesheet" type="text/css" href="css/register.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">
            <h1> DES Encryption </h1>
        </div>

        <div class="register-form">
            <form>
                <h3> Register </h3>
                <div class="alert"></div>
                <input type="text" class="fname-field" placeholder="First Name">
                <input type="text" class="lname-field" placeholder="Last Name">
                <input type="email" class="email-field" placeholder="Email">
                <input type="text" class="username-field" placeholder="Username">
                <input type="password" class="password-field" placeholder="Password">
                <input type="password" class="cpassword-field" placeholder="Confirm Password">
                <a class="submit"> Login </a>
                <p> Already an User? <a href="/login"> Login </a> </p>
            </form>
        </div>
        <script src="js/register.js"></script>
    </body>
</html>